# Node
node_modules/
dist/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
backend/.env
backend/optirank.db

# OS
.DS_Store
Thumbs.db

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
